[submodule "ManifoldPlus"]
	path = ManifoldPlus
	url = https://github.com/hjwdzh/ManifoldPlus
[submodule "TetWild"]
	path = TetWild
	url = https://github.com/Yixin-Hu/TetWild
[submodule "fTetWild"]
	path = fTetWild
	url = https://github.com/wildmeshing/fTetWild.git
